<!DOCTYPE html>
<!-- Brandon Hammond - Week 3 Validation Assignment -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="form validation on server side" />
        <meta name="author" content="Brandon Hammond" />
        <title>Validation - Week 3 Assignment</title>
        <link href="/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation -->
        <%- include("partials/nav")%>

        <!-- Page Header-->
        <header>
            <h2>Lead your business in the right direction with</h2>
            <h2>EXPERTISE AND PRECISION</h2>
            <h3>Let us do the hard work for you</h3>
            <button><a href="/Signup">SIGN UP</a></button>
        </header>
        <!-- Main Content-->

        <!-- Footer-->
        <footer>

        </footer>

    </body>
</html>