<!-- nav.ejs -->
<nav>
    <div class="container">
        <div>
            <a class="navbar-brand" href="/">Brandon Hammond</a>
            <p>Web Developer</p>
        </div>
        <div>
            <ul>
                <li class="nav-item">
                    <% if(pagename=="Home") {%>
                        <a class="nav-link" style="color:orange" href="/">Home</a>
                    <% }else{ %>
                        <a class="nav-link" href="/">Home</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if(pagename=="Signup") {%>
                        <a class="nav-link" style="color:orange" href="/Signup">Sign up</a>
                    <% }else{ %>
                        <a class="nav-link" href="/Signup">Sign up</a>
                    <%}%>
                </li>
            </ul>
        </div>
    </div>
</nav>